<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title></title>
</head>
<body>
        <h1>Mybot Configuration</h1>
        <h2>Tweet</h2>
        <h3>GitHub</h3>
        <ul>
                {{ range $index, $project := .Tweet.Github }}
                <li>
                        {{ $project.User }}/{{ $project.Repo }}
                </li>
                {{ end }}
        </ul>
        <h3>Retweet</h3>
        <ul>
                {{ range $index, $retweet := .Tweet.Retweet }}
                <li>
                        Name: {{ $retweet.Name }}<br/>
                        Patterns:<br/>
                        <ul>
                                {{ range $i, $pat := $retweet.Patterns }}
                                <li>
                                        {{ $pat }}
                                </li>
                                {{ end }}
                        </ul>
                        Options:<br/>
                        <ul>
                                {{ range $key, $val := $retweet.Opts }}
                                <li>
                                        {{ $key }}: {{ $val }}
                                </li>
                                {{ end }}
                        </ul>
                </li>
                {{ end }}
                <li>
                        Interval: {{ .Tweet.Interval }}
                </li>
        </ul>
        <h2>Talk</h2>
        <ul>
                <li>
                        Interval: {{ .Talk.Interval }}
                </li>
        </ul>
        <h2>User Group</h2>
        <ul>
                <li>
                        Include Self: {{ .UserGroup.IncludeSelf }}
                </li>
                <li>
                        User:
                        <ul>
                                {{ range $index, $user := .UserGroup.Users }}
                                <li>
                                        {{ $user }}
                                </li>
                                {{ end }}
                        </ul>
                </li>
        </ul>
        <h2>Notification</h2>
        <ul>
                <li>
                        Place: {{ .Notification.Place }}
                </li>
        </ul>
</body>
</html>
