{{{define "filter_config"}}}
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td colspan="2"></td>
                <td>Name</td>
                <td>Value</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                {{{if eq .Type "twitter"}}}
                <td rowspan="7" colspan="2">General</td>
                {{{else if eq .Type "slack"}}}
                <td rowspan="2" colspan="2">General</td>
                {{{end}}}
                <td>patterns</td>
                <td>
                    {{{listTextbox .Filter.Patterns (printf "%s%s" .Prefix ".filter.patterns")}}}
                </td>
            </tr>
            <tr>
                <td>has media</td>
                <td>
                    {{{boolSelectbox .Filter.HasMedia (printf "%s%s" .Prefix ".filter.has_media")}}}
                </td>
            </tr>
            {{{if eq .Type "twitter"}}}
            <tr>
                <td>url patterns</td>
                <td>
                    {{{listTextbox .Filter.URLPatterns (printf "%s%s" .Prefix ".filter.url_patterns")}}}
                </td>
            </tr>
            <tr>
                <td>retweeted</td>
                <td>
                    {{{boolSelectbox .Filter.Retweeted (printf "%s%s" .Prefix ".filter.retweeted")}}}
                </td>
            </tr>
            <tr>
                <td>favorite threshold</td>
                <td>
                    {{{textboxOfIntPtr .Filter.FavoriteThreshold (printf "%s%s" .Prefix ".filter.favorite_threshold")}}}
                </td>
            </tr>
            <tr>
                <td>retweeted threshold</td>
                <td>
                    {{{textboxOfIntPtr .Filter.RetweetedThreshold (printf "%s%s" .Prefix ".filter.retweeted_threshold")}}}
                </td>
            </tr>
            <tr>
                <td>lang</td>
                <td>
                    <input form="overwrite" type="text" name="{{{printf `%s%s` .Prefix `.filter.lang`}}}" value="{{{.Filter.Lang}}}">
                </td>
            </tr>
            {{{end}}}
            <!-- Vision API -->
            <tr>
                <td rowspan="8">Vision</td>
                <td colspan="2">Label</td>
                <td>
                    {{{listTextbox .Filter.Vision.Label (printf "%s%s" .Prefix ".filter.vision.label")}}}
                </td>
            </tr>
            <tr>
                <td rowspan="4">Face</td>
                <td>anger likelihood</td>
                <td>
                    <input form="overwrite" type="text" name="{{{printf `%s%s` .Prefix `.filter.vision.face.anger_likelihood`}}}" value="{{{.Filter.Vision.Face.AngerLikelihood}}}">
                </td>
            </tr>
            <tr>
                <td>blurred likelihood</td>
                <td>
                    <input form="overwrite" type="text" name="{{{printf `%s%s` .Prefix `.filter.vision.face.blurred_likelihood`}}}"` value="{{{.Filter.Vision.Face.BlurredLikelihood}}}">
                </td>
            </tr>
            <tr>
                <td>headwear likelihood</td>
                <td>
                    <input form="overwrite" type="text" name="{{{printf `%s%s` .Prefix `.filter.vision.face.headwear_likelihood`}}}" value="{{{.Filter.Vision.Face.HeadwearLikelihood}}}">
                </td>
            </tr>
            <tr>
                <td>joy likelihood</td>
                <td>
                    <input form="overwrite" type="text" name="{{{printf `%s%s` .Prefix `.filter.vision.face.joy_likelihood`}}}" value="{{{.Filter.Vision.Face.JoyLikelihood}}}">
                </td>
            </tr>
            <tr>
                <td colspan="2">Text</td>
                <td>
                    {{{listTextbox .Filter.Vision.Text (printf "%s%s" .Prefix ".filter.vision.text")}}}
                </td>
            </tr>
            <tr>
                <td colspan="2">Landmark</td>
                <td>
                    {{{listTextbox .Filter.Vision.Landmark (printf "%s%s" .Prefix ".filter.vision.landmark")}}}
                </td>
            </tr>
            <tr>
                <td colspan="2">Logo</td>
                <td>
                    {{{listTextbox .Filter.Vision.Logo (printf "%s%s" .Prefix ".filter.vision.logo")}}}
                </td>
            </tr>
            <!-- Language API -->
            <tr>
                <td rowspan="2" colspan="2">Language</td>
                <td>min sentiment</td>
                <td>
                    {{{textboxOfFloat64Ptr .Filter.Language.MinSentiment (printf "%s%s" .Prefix ".filter.language.min_sentiment")}}}
                </td>
            </tr>
            <tr>
                <td>max sentiment</td>
                <td>
                    {{{textboxOfFloat64Ptr .Filter.Language.MaxSentiment (printf "%s%s" .Prefix ".filter.language.max_sentiment")}}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{{{end}}}
