{{{define "general_conf"}}}
<div class="table-responsive">
    <table class="table">
        <tbody>
            <tr>
                <td colspan="2">Polling Duration</td>
                <td>
                    <input class="form-control" form="overwrite" type="text" name="duration" value="{{{.Duration}}}">
                </td>
            </tr>
        </tbody>
    </table>
</div>
{{{end}}}
