{{{define "twitter_conf"}}}
<div class="table-responsive">
    <table class="table">
        <tbody>
            <tr>
                <td rowspan="2">Twitter Interaction</td>
                <td>myself</td>
                <td>
                    {{{checkbox .Interaction.AllowSelf "twitter.interaction.allow_self"}}}
                </td>
            </tr>
            <tr>
                <td>other users</td>
                <td>
                    {{{listTextbox .Interaction.Users "twitter.interaction.users" "typeahead-tagsinput"}}}
                </td>
            </tr>
            <tr>
                <td rowspan="2">Twitter Place Notification</td>
                <td>myself</td>
                <td>
                    {{{checkbox .Notification.Place.AllowSelf "twitter.notification.place.allow_self"}}}
                </td>
            </tr>
            <tr>
                <td>other users</td>
                <td>
                    {{{listTextbox .Notification.Place.Users "twitter.notification.place.users" "typeahead-tagsinput"}}}
                </td>
            </tr>
            <tr>
                <td>Others</td>
                <td>polling duration</td>
                <td>
                    <input class="form-control" form="overwrite" type="text" name="twitter.duration" value="{{{.Duration}}}">
                </td>
            </tr>
        </tbody>
    </table>
</div>
{{{end}}}
