.jumbotron {
        background-color: transparent;
        text-align: center;
}

.container {
        max-width: 800px;
}

.panel-title {
        text-transform: uppercase;
}

div.jumbotron a span.fa {
        font-size: 40px;
}

pre {
        border: none;
        background-color: transparent;
}
