.jumbotron {
        background-color: transparent;
        text-align: center;
}

.container {
        max-width: 800px;
}

.panel-title {
        text-transform: uppercase;
}

div.jumbotron a span.fa {
        font-size: 40px;
}

pre {
        border: none;
        background-color: transparent;
}

.fa {
        background-color: whitesmoke;
}

.fa-twitter.fa-active {
        color: #3333ff;
}

.fa-google.fa-active {
        color: #ff3333;
}

.fa-passive {
        color: gray;
}

.fa-tweetdeck {
        color: black;
        background-color: dodgerblue;
}

table > thead {
        background-color: aliceblue;
}
