<!DOCTYPE html>
<html lang="en">
{{template "header" .}}
<body>
    <div class="container">
        {{template "navbar" .}}
        <form action="/config/" method="post" enctype="multipart/form-data">
            <h2>Current Config</h2>
            <input type="submit" value="Save" class="btn btn-lg btn-primary">

            <h3>Twitter Timelines</h3>
            <table class="table table-striped table-bordered table-responsive">
                <thead>
                    <tr>
                        <td>screen names</td>
                        <td>exclude replies</td>
                        <td>include rts</td>
                        <td>count</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {{range $index, $timeline := .Config.Twitter.Timelines}}
                    <tr>
                        <td>
                            <input type="text" name="twitter.timelines.screen_names" value="{{if $timeline.ScreenNames}}{{$timeline.ScreenNames | convertListToShow}}{{end}}">
                        </td>
                        <td>
                            {{if $timeline.ExcludeReplies | checkBoolRef}}
                            <input type="checkbox" name="twitter.timelines.exclude_replies" value="true" checked>
                            {{else}}
                            <input type="checkbox" name="twitter.timelines.exclude_replies" value="true">
                            {{end}}
                            <input type="hidden" name="twitter.timelines.exclude_replies" value="placeholder">
                        </td>
                        <td>
                            {{if $timeline.IncludeRts | checkBoolRef}}
                            <input type="checkbox" name="twitter.timelines.include_rts" value="true" checked>
                            {{else}}
                            <input type="checkbox" name="twitter.timelines.include_rts" value="true">
                            {{end}}
                            <input type="hidden" name="twitter.timelines.include_rts" value="placeholder">
                        </td>
                        <td>
                            <input type="number" name="twitter.timelines.count" value="{{if $timeline.Count}}{{$timeline.Count}}{{end}}">
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#twitter-timelines-filter_{{$index}}">
                                details here
                            </button>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>

            {{range $index, $timeline := .Config.Twitter.Timelines}}
                <div class="modal fade" id="twitter-timelines-filter_{{$index}}" tabindex="-1" role="dialog" aria-labelledby="twitter-timelines-filter_{{$index}}-title">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="twitter-timelines-filter_{{$index}}-title">Details</h3>
                            </div>
                            <div class="modal-body">
                                <h3>Filter</h3>
                                <table class="table table-striped table-bordered table-responsive">
                                    <thead>
                                        <tr>
                                            <td>name</td>
                                            <td>value</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>patterns</td>
                                            <td>
                                                <input type="text" name="twitter.timelines.filter.patterns" value="{{if $timeline.Filter.Patterns}}{{$timeline.Filter.Patterns | convertListToShow}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>url patterns</td>
                                            <td>
                                                <input type="text" name="twitter.timelines.filter.url_patterns" value="{{if $timeline.Filter.URLPatterns}}{{$timeline.Filter.URLPatterns | convertListToShow}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>has media</td>
                                            <td>
                                                {{if $timeline.Filter.HasMedia | checkBoolRef}}
                                                <input type="checkbox" name="twitter.timelines.filter.has_media" value="true" checked>
                                                {{else}}
                                                <input type="checkbox" name="twitter.timelines.filter.has_media" value="true">
                                                {{end}}
                                                <input type="hidden" name="twitter.timelines.filter.has_media" value="placeholder">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>has url</td>
                                            <td>
                                                {{if $timeline.Filter.HasURL | checkBoolRef}}
                                                <input type="checkbox" name="twitter.timelines.filter.has_url" value="true" checked>
                                                {{else}}
                                                <input type="checkbox" name="twitter.timelines.filter.has_url" value="true">
                                                {{end}}
                                                <input type="hidden" name="twitter.timelines.filter.has_url" value="placeholder">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>retweeted</td>
                                            <td>
                                                {{if $timeline.Filter.Retweeted | checkBoolRef}}
                                                <input type="checkbox" name="twitter.timelines.filter.retweeted" value="true" checked>
                                                {{else}}
                                                <input type="checkbox" name="twitter.timelines.filter.retweeted" value="true">
                                                {{end}}
                                                <input type="hidden" name="twitter.timelines.filter.retweeted" value="placeholder">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>favorite threshold</td>
                                            <td>
                                                <input type="number" name="twitter.timelines.filter.favorite_threshold" value="{{if $timeline.Filter.FavoriteThreshold}}{{$timeline.Filter.FavoriteThreshold}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>retweeted threshold</td>
                                            <td>
                                                <input type="number" name="twitter.timelines.filter.retweeted_threshold" value="{{if $timeline.Filter.RetweetedThreshold}}{{$timeline.Filter.RetweetedThreshold}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>lang</td>
                                            <td>
                                                <input type="text" name="twitter.timelines.filter.lang" value="{{if $timeline.Filter.Lang}}{{$timeline.Filter.Lang}}{{end}}">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h3>Filter.Vision</h3>
                                <table class="table table-striped table-bordered table-responsive">
                                    <thead>
                                        <tr>
                                            <td>name</td>
                                            <td>value</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>label</td>
                                            <td>
                                                <input type="text" name="twitter.timelines.filter.vision.label" value="{{if $timeline.Filter.Vision.Label}}{{$timeline.Filter.Vision.Label | convertListToShow}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>face angry likelihood</td>
                                            <td>
                                                <input type="text" name="twitter.timelines.filter.vision.face.angry_likelihood" value="{{if $timeline.Filter.Vision.Face}}{{$timeline.Filter.Vision.Face.AngryLikelihood}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>face blurred likelihood</td>
                                            <td>
                                                <input type="text" name="twitter.timelines.filter.vision.face.blurred_likelihood" value="{{if $timeline.Filter.Vision.Face}}{{$timeline.Filter.Vision.Face.BlurredLikelihood}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>face headwear likelihood</td>
                                            <td>
                                                <input type="text" name="twitter.timelines.filter.vision.face.headwear_likelihood" value="{{if $timeline.Filter.Vision.Face}}{{$timeline.Filter.Vision.Face.HeadwearLikelihood}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>face joy likelihood</td>
                                            <td>
                                                <input type="text" name="twitter.timelines.filter.vision.face.joy_likelihood" value="{{if $timeline.Filter.Vision.Face}}{{$timeline.Filter.Vision.Face.JoyLikelihood}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>text</td>
                                            <td>
                                                <input type="text" name="twitter.timelines.filter.vision.text" value="{{if $timeline.Filter.Vision.Text}}{{$timeline.Filter.Vision.Text | convertListToShow}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>landmark</td>
                                            <td>
                                                <input type="text" name="twitter.timelines.filter.vision.landmark" value="{{if $timeline.Filter.Vision.Landmark}}{{$timeline.Filter.Vision.Landmark | convertListToShow}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>logo</td>
                                            <td>
                                                <input type="text" name="twitter.timelines.filter.vision.logo" value="{{if $timeline.Filter.Vision.Logo}}{{$timeline.Filter.Vision.Logo | convertListToShow}}{{end}}">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h3>Action</h3>
                                <table class="table table-striped table-bordered table-responsive">
                                    <thead>
                                        <tr>
                                            <td>name</td>
                                            <td>value</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>retweet</td>
                                            <td>
                                                {{if $timeline.Action.Retweet}}
                                                <input type="checkbox" name="twitter.timelines.action.retweet" value="true" checked>
                                                {{else}}
                                                <input type="checkbox" name="twitter.timelines.action.retweet" value="true">
                                                {{end}}
                                                <input type="hidden" name="twitter.timelines.filter.retweet" value="placeholder">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>favorite</td>
                                            <td>
                                                {{if $timeline.Action.Favorite}}
                                                <input type="checkbox" name="twitter.timelines.action.favorite" value="true" checked>
                                                {{else}}
                                                <input type="checkbox" name="twitter.timelines.action.favorite" value="true">
                                                {{end}}
                                                <input type="hidden" name="twitter.timelines.filter.favorite" value="placeholder">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>follow</td>
                                            <td>
                                                {{if $timeline.Action.Follow}}
                                                <input type="checkbox" name="twitter.timelines.action.follow" value="true" checked>
                                                {{else}}
                                                <input type="checkbox" name="twitter.timelines.action.follow" value="true">
                                                {{end}}
                                                <input type="hidden" name="twitter.timelines.filter.follow" value="placeholder">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>collections</td>
                                            <td>
                                                <input type="text" name="twitter.timelines.action.collections" value="{{if $timeline.Action.Collections}}{{$timeline.Action.Collections | convertListToShow}}{{end}}">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
            {{end}}

            <h3>Twitter Favorites</h3>
            <table class="table table-striped table-bordered table-responsive">
                <thead>
                    <tr>
                        <td>screen names</td>
                        <td>count</td>
                        <td>others</td>
                    </tr>
                </thead>
                <tbody>
                    {{range $index, $favorite := .Config.Twitter.Favorites}}
                    <tr>
                        <td><input type="text" name="twitter.favorites.screen_names" value="{{if $favorite.ScreenNames}}{{$favorite.ScreenNames | convertListToShow}}{{end}}"></td>
                        <td><input type="number" name="twitter.favorites.count" value="{{if $favorite.Count}}{{$favorite.Count}}{{end}}"></td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#twitter-favorites-filter_{{$index}}">
                                details here
                            </button>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>

            {{range $index, $favorite := .Config.Twitter.Favorites}}
                <div class="modal fade" id="twitter-favorites-filter_{{$index}}" tabindex="-1" role="dialog" aria-labelledby="twitter-favorites-filter_{{$index}}-title">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="twitter-favorites-filter_{{$index}}-title">Details</h3>
                            </div>
                            <div class="modal-body">
                                <h3>Filter</h3>
                                <table class="table table-striped table-bordered table-responsive">
                                    <thead>
                                        <tr>
                                            <td>name</td>
                                            <td>value</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>patterns</td>
                                            <td>
                                                <input type="text" name="twitter.favorites.filter.patterns" value="{{if $favorite.Filter.Patterns}}{{$favorite.Filter.Patterns | convertListToShow}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>url patterns</td>
                                            <td>
                                                <input type="text" name="twitter.favorites.filter.url_patterns" value="{{if $favorite.Filter.URLPatterns}}{{$favorite.Filter.URLPatterns | convertListToShow}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>has media</td>
                                            <td>
                                                {{if $favorite.Filter.HasMedia | checkBoolRef}}
                                                <input type="checkbox" name="twitter.favorites.filter.has_media" value="true" checked>
                                                {{else}}
                                                <input type="checkbox" name="twitter.favorites.filter.has_media" value="true">
                                                {{end}}
                                                <input type="hidden" name="twitter.favorites.filter.has_media" value="placeholder">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>has url</td>
                                            <td>
                                                {{if $favorite.Filter.HasURL | checkBoolRef}}
                                                <input type="checkbox" name="twitter.favorites.filter.has_url" value="true" checked>
                                                {{else}}
                                                <input type="checkbox" name="twitter.favorites.filter.has_url" value="true">
                                                {{end}}
                                                <input type="hidden" name="twitter.favorites.filter.has_url" value="placeholder">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>retweeted</td>
                                            <td>
                                                {{if $favorite.Filter.Retweeted | checkBoolRef}}
                                                <input type="checkbox" name="twitter.favorites.filter.retweeted" value="true" checked>
                                                {{else}}
                                                <input type="checkbox" name="twitter.favorites.filter.retweeted" value="true">
                                                {{end}}
                                                <input type="hidden" name="twitter.favorites.filter.retweeted" value="placeholder">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>favorite threshold</td>
                                            <td>
                                                <input type="number" name="twitter.favorites.filter.favorite_threshold" value="{{if $favorite.Filter.FavoriteThreshold}}{{$favorite.Filter.FavoriteThreshold}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>retweeted threshold</td>
                                            <td>
                                                <input type="number" name="twitter.favorites.filter.retweeted_threshold" value="{{if $favorite.Filter.RetweetedThreshold}}{{$favorite.Filter.RetweetedThreshold}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>lang</td>
                                            <td>
                                                <input type="text" name="twitter.favorites.filter.lang" value="{{if $favorite.Filter.Lang}}{{$favorite.Filter.Lang}}{{end}}">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h3>Filter.Vision</h3>
                                <table class="table table-striped table-bordered table-responsive">
                                    <thead>
                                        <tr>
                                            <td>name</td>
                                            <td>value</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>label</td>
                                            <td>
                                                <input type="text" name="twitter.favorites.filter.vision.label" value="{{if $favorite.Filter.Vision.Label}}{{$favorite.Filter.Vision.Label | convertListToShow}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>face angry likelihood</td>
                                            <td>
                                                <input type="text" name="twitter.favorites.filter.vision.face.angry_likelihood" value="{{if $favorite.Filter.Vision.Face}}{{$favorite.Filter.Vision.Face.AngryLikelihood}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>face blurred likelihood</td>
                                            <td>
                                                <input type="text" name="twitter.favorites.filter.vision.face.blurred_likelihood" value="{{if $favorite.Filter.Vision.Face}}{{$favorite.Filter.Vision.Face.BlurredLikelihood}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>face headwear likelihood</td>
                                            <td>
                                                <input type="text" name="twitter.favorites.filter.vision.face.headwear_likelihood" value="{{if $favorite.Filter.Vision.Face}}{{$favorite.Filter.Vision.Face.HeadwearLikelihood}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>face joy likelihood</td>
                                            <td>
                                                <input type="text" name="twitter.favorites.filter.vision.face.joy_likelihood" value="{{if $favorite.Filter.Vision.Face}}{{$favorite.Filter.Vision.Face.JoyLikelihood}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>text</td>
                                            <td>
                                                <input type="text" name="twitter.favorites.filter.vision.text" value="{{if $favorite.Filter.Vision.Text}}{{$favorite.Filter.Vision.Text | convertListToShow}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>landmark</td>
                                            <td>
                                                <input type="text" name="twitter.favorites.filter.vision.landmark" value="{{if $favorite.Filter.Vision.Landmark}}{{$favorite.Filter.Vision.Landmark | convertListToShow}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>logo</td>
                                            <td>
                                                <input type="text" name="twitter.favorites.filter.vision.logo" value="{{if $favorite.Filter.Vision.Logo}}{{$favorite.Filter.Vision.Logo | convertListToShow}}{{end}}">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h3>Action</h3>
                                <table class="table table-striped table-bordered table-responsive">
                                    <thead>
                                        <tr>
                                            <td>name</td>
                                            <td>value</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>retweet</td>
                                            <td>
                                                {{if $favorite.Action.Retweet}}
                                                <input type="checkbox" name="twitter.favorites.action.retweet" value="true" checked>
                                                {{else}}
                                                <input type="checkbox" name="twitter.favorites.action.retweet" value="true">
                                                {{end}}
                                                <input type="hidden" name="twitter.favorites.filter.retweet" value="placeholder">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>favorite</td>
                                            <td>
                                                {{if $favorite.Action.Favorite}}
                                                <input type="checkbox" name="twitter.favorites.action.favorite" value="true" checked>
                                                {{else}}
                                                <input type="checkbox" name="twitter.favorites.action.favorite" value="true">
                                                {{end}}
                                                <input type="hidden" name="twitter.favorites.filter.favorite" value="placeholder">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>follow</td>
                                            <td>
                                                {{if $favorite.Action.Follow}}
                                                <input type="checkbox" name="twitter.favorites.action.follow" value="true" checked>
                                                {{else}}
                                                <input type="checkbox" name="twitter.favorites.action.follow" value="true">
                                                {{end}}
                                                <input type="hidden" name="twitter.favorites.filter.follow" value="placeholder">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>collections</td>
                                            <td>
                                                <input type="text" name="twitter.favorites.action.collections" value="{{if $favorite.Action.Collections}}{{$favorite.Action.Collections | convertListToShow}}{{end}}">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
            {{end}}

            <h3>Twitter Searches</h3>
            <table class="table table-striped table-bordered table-responsive">
                <thead>
                    <tr>
                        <td>queries</td>
                        <td>result type</td>
                        <td>count</td>
                        <td>others</td>
                    </tr>
                </thead>
                <tbody>
                    {{range $index, $search := .Config.Twitter.Searches}}
                    <tr>
                        <td><input type="text" name="twitter.searches.queries" value="{{if $search.Queries}}{{$search.Queries | convertListToShow}}{{end}}"></td>
                        <td>
                            <select name="twitter.searches.result_type">
                                {{if not $search.ResultType }}
                                <option value="recent" selected>recent</option>
                                <option value="mixed">mixed</option>
                                <option value="popular">popular</option>
                                {{else if eq (derefString $search.ResultType) "recent"}}
                                <option value="recent" selected>recent</option>
                                <option value="mixed">mixed</option>
                                <option value="popular">popular</option>
                                {{else if eq (derefString $search.ResultType) "mixed"}}
                                <option value="recent">recent</option>
                                <option value="mixed" selected>mixed</option>
                                <option value="popular">popular</option>
                                {{else if eq (derefString $search.ResultType) "popular"}}
                                <option value="recent">recent</option>
                                <option value="mixed">mixed</option>
                                <option value="popular" selected>popular</option>
                                {{end}}
                            </select>
                        </td>
                        <td><input type="number" name="twitter.searches.count" value="{{if $search.Count}}{{$search.Count}}{{end}}"></td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#twitter-searches-filter_{{$index}}">
                                details here
                            </button>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>

            {{range $index, $search := .Config.Twitter.Searches}}
                <div class="modal fade" id="twitter-searches-filter_{{$index}}" tabindex="-1" role="dialog" aria-labelledby="twitter-searches-filter_{{$index}}-title">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="twitter-searches-filter_{{$index}}-title">Details</h3>
                            </div>
                            <div class="modal-body">
                                <h3>Filter</h3>
                                <table class="table table-striped table-bordered table-responsive">
                                    <thead>
                                        <tr>
                                            <td>name</td>
                                            <td>value</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>patterns</td>
                                            <td>
                                                <input type="text" name="twitter.searches.filter.patterns" value="{{if $search.Filter.Patterns}}{{$search.Filter.Patterns | convertListToShow}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>url patterns</td>
                                            <td>
                                                <input type="text" name="twitter.searches.filter.url_patterns" value="{{if $search.Filter.URLPatterns}}{{$search.Filter.URLPatterns | convertListToShow}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>has media</td>
                                            <td>
                                                {{if $search.Filter.HasMedia | checkBoolRef}}
                                                <input type="checkbox" name="twitter.searches.filter.has_media" value="true" checked>
                                                {{else}}
                                                <input type="checkbox" name="twitter.searches.filter.has_media" value="true">
                                                {{end}}
                                                <input type="hidden" name="twitter.searches.filter.has_media" value="placeholder">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>has url</td>
                                            <td>
                                                {{if $search.Filter.HasURL | checkBoolRef}}
                                                <input type="checkbox" name="twitter.searches.filter.has_url" value="true" checked>
                                                {{else}}
                                                <input type="checkbox" name="twitter.searches.filter.has_url" value="true">
                                                {{end}}
                                                <input type="hidden" name="twitter.searches.filter.has_url" value="placeholder">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>retweeted</td>
                                            <td>
                                                {{if $search.Filter.Retweeted | checkBoolRef}}
                                                <input type="checkbox" name="twitter.searches.filter.retweeted" value="true" checked>
                                                {{else}}
                                                <input type="checkbox" name="twitter.searches.filter.retweeted" value="true">
                                                {{end}}
                                                <input type="hidden" name="twitter.searches.filter.retweeted" value="placeholder">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>favorite threshold</td>
                                            <td>
                                                <input type="number" name="twitter.searches.filter.favorite_threshold" value="{{if $search.Filter.FavoriteThreshold}}{{$search.Filter.FavoriteThreshold}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>retweeted threshold</td>
                                            <td>
                                                <input type="number" name="twitter.searches.filter.retweeted_threshold" value="{{if $search.Filter.RetweetedThreshold}}{{$search.Filter.RetweetedThreshold}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>lang</td>
                                            <td>
                                                <input type="text" name="twitter.searches.filter.lang" value="{{if $search.Filter.Lang}}{{$search.Filter.Lang}}{{end}}">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h3>Filter.Vision</h3>
                                <table class="table table-striped table-bordered table-responsive">
                                    <thead>
                                        <tr>
                                            <td>name</td>
                                            <td>value</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>label</td>
                                            <td>
                                                <input type="text" name="twitter.searches.filter.vision.label" value="{{if $search.Filter.Vision.Label}}{{$search.Filter.Vision.Label | convertListToShow}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>face angry likelihood</td>
                                            <td>
                                                <input type="text" name="twitter.searches.filter.vision.face.angry_likelihood" value="{{if $search.Filter.Vision.Face}}{{$search.Filter.Vision.Face.AngryLikelihood}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>face blurred likelihood</td>
                                            <td>
                                                <input type="text" name="twitter.searches.filter.vision.face.blurred_likelihood" value="{{if $search.Filter.Vision.Face}}{{$search.Filter.Vision.Face.BlurredLikelihood}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>face headwear likelihood</td>
                                            <td>
                                                <input type="text" name="twitter.searches.filter.vision.face.headwear_likelihood" value="{{if $search.Filter.Vision.Face}}{{$search.Filter.Vision.Face.HeadwearLikelihood}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>face joy likelihood</td>
                                            <td>
                                                <input type="text" name="twitter.searches.filter.vision.face.joy_likelihood" value="{{if $search.Filter.Vision.Face}}{{$search.Filter.Vision.Face.JoyLikelihood}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>text</td>
                                            <td>
                                                <input type="text" name="twitter.searches.filter.vision.text" value="{{if $search.Filter.Vision.Text}}{{$search.Filter.Vision.Text | convertListToShow}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>landmark</td>
                                            <td>
                                                <input type="text" name="twitter.searches.filter.vision.landmark" value="{{if $search.Filter.Vision.Landmark}}{{$search.Filter.Vision.Landmark | convertListToShow}}{{end}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>logo</td>
                                            <td>
                                                <input type="text" name="twitter.searches.filter.vision.logo" value="{{if $search.Filter.Vision.Logo}}{{$search.Filter.Vision.Logo | convertListToShow}}{{end}}">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h3>Action</h3>
                                <table class="table table-striped table-bordered table-responsive">
                                    <thead>
                                        <tr>
                                            <td>name</td>
                                            <td>value</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>retweet</td>
                                            <td>
                                                {{if $search.Action.Retweet}}
                                                <input type="checkbox" name="twitter.searches.action.retweet" value="true" checked>
                                                {{else}}
                                                <input type="checkbox" name="twitter.searches.action.retweet" value="true">
                                                {{end}}
                                                <input type="hidden" name="twitter.searches.filter.retweet" value="placeholder">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>favorite</td>
                                            <td>
                                                {{if $search.Action.Favorite}}
                                                <input type="checkbox" name="twitter.searches.action.favorite" value="true" checked>
                                                {{else}}
                                                <input type="checkbox" name="twitter.searches.action.favorite" value="true">
                                                {{end}}
                                                <input type="hidden" name="twitter.searches.filter.favorite" value="placeholder">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>follow</td>
                                            <td>
                                                {{if $search.Action.Follow}}
                                                <input type="checkbox" name="twitter.searches.action.follow" value="true" checked>
                                                {{else}}
                                                <input type="checkbox" name="twitter.searches.action.follow" value="true">
                                                {{end}}
                                                <input type="hidden" name="twitter.searches.filter.follow" value="placeholder">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>collections</td>
                                            <td>
                                                <input type="text" name="twitter.searches.action.collections" value="{{if $search.Action.Collections}}{{$search.Action.Collections | convertListToShow}}{{end}}">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
            {{end}}

            <h3>Database</h3>
            <table class="table table-striped table-bordered table-responsive">
                <thead>
                    <tr>
                        <td>driver</td>
                        <td>data source</td>
                        <td>vision table</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" name="db.driver" value="{{if .Config.DB.Driver}}{{.Config.DB.Driver}}{{end}}"></td>
                        <td><input type="text" name="db.data_source" value="{{if .Config.DB.DataSource}}{{.Config.DB.DataSource}}{{end}}"></td>
                        <td><input type="text" name="db.vision_table" value="{{if .Config.DB.VisionTable}}{{.Config.DB.VisionTable}}{{end}}"></td>
                    </tr>
                </tbody>
            </table>

            <h3>Interaction</h3>
            <table class="table table-striped table-bordered table-responsive">
                <thead>
                    <tr>
                        <td>duration</td>
                        <td>allow self</td>
                        <td>users</td>
                        <td>count</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" name="interaction.duration" value="{{if .Config.Interaction.Duration}}{{.Config.Interaction.Duration}}{{end}}"></td>
                        <td>
                            {{if .Config.Interaction.AllowSelf}}
                            <input type="checkbox" name="interaction.allow_self" value="true" checked>
                            {{else}}
                            <input type="checkbox" name="interaction.allow_self" value="true">
                            {{end}}
                        </td>
                        <td><input type="text" name="interaction.users" value="{{if .Config.Interaction.Users}}{{.Config.Interaction.Users | convertListToShow}}{{end}}"></td>
                        <td><input type="number" name="interaction.count" value="{{if .Config.Interaction.Count}}{{.Config.Interaction.Count}}{{end}}"></td>
                    </tr>
                </tbody>
            </table>

            <h3>Log</h3>
            <table class="table table-striped table-bordered table-responsive">
                <thead>
                    <tr>
                        <td>allow self</td>
                        <td>users</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{if .Config.Log.AllowSelf}}
                            <input type="checkbox" name="log.allow_self" value="true" checked>
                            {{else}}
                            <input type="checkbox" name="log.allow_self" value="true">
                            {{end}}
                        </td>
                        <td><input type="text" name="log.users" value="{{if .Config.Log.Users}}{{.Config.Log.Users | convertListToShow}}{{end}}"></td>
                    </tr>
                </tbody>
            </table>

            <h3>HTTP</h3>
            <table class="table table-striped table-bordered table-responsive">
                <thead>
                    <tr>
                        <td>name</td>
                        <td>host</td>
                        <td>port</td>
                        <td>enabled</td>
                        <td>log lines</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" name="http.name" value="{{if .Config.HTTP.Name}}{{.Config.HTTP.Name}}{{end}}"></td>
                        <td><input type="text" name="http.host" value="{{if .Config.HTTP.Host}}{{.Config.HTTP.Host}}{{end}}"></td>
                        <td><input type="number" name="http.port" value="{{if .Config.HTTP.Port}}{{.Config.HTTP.Port}}{{end}}"></td>
                        <td>
                            {{if .Config.HTTP.Enabled}}
                            <input type="checkbox" name="http.enabled" value="true" checked>
                            {{else}}
                            <input type="checkbox" name="http.enabled" value="true">
                            {{end}}
                        </td>
                        <td><input type="number" name="http.log_lines" value="{{if .Config.HTTP.LogLines}}{{.Config.HTTP.LogLines}}{{end}}"></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>
</html>
