<!DOCTYPE html>
<html lang="en">
{{template "header" .}}
<body>
    <div class="container">
        {{template "navbar" .}}
        <form action="/setup/">
            <h3>Twitter</h3>
            <table class="table table-striped table-bordered table-responsive">
                <tr>
                    <td>Consumer Key</td>
                    <td>
                        <input type="password" name="twitter-consumer-key">
                    </td>
                </tr>
                <tr>
                    <td>Consumer Secret</td>
                    <td>
                        <input type="password" name="twitter-consumer-secret">
                    </td>
                </tr>
                <tr>
                    <td>Access Token</td>
                    <td>
                        <input type="password" name="twitter-access-token">
                    </td>
                </tr>
                <tr>
                    <td>Access Token Secret</td>
                    <td>
                        <input type="password" name="twitter-access-token-secret">
                    </td>
                </tr>
            </table>
            <h3>Google Cloud</h3>
            <table class="table table-striped table-bordered table-responsive">
                <tr>
                    <td>Credential File</td>
                    <td>
                        <input type="file" name="gcloud-credential-file">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
