<!DOCTYPE html>
<html lang="en">
{{template "header" .}}
<body>
    <div class="container">
        {{template "navbar" .}}
        <h2>Current Status</h2>
        <ul>
            {{if .Status.TwitterListenMyselfStatus}}
            <li>Twitter Listens Yourself: <span style="color: blue">Started</span></li>
            {{else}}
            <li>Twitter Listens Yourself: <span style="color: red">Stop</span></li>
            {{end}}

            {{if .Status.TwitterListenUsersStatus}}
            <li>Twitter Listens Users: <span style="color: blue">Started</span></li>
            {{else}}
            <li>Twitter Listens Users: <span style="color: red">Stop</span></li>
            {{end}}

            {{if .Status.GithubStatus}}
            <li>GitHub: <span style="color: blue">Started</span></li>
            {{else}}
            <li>GitHub: <span style="color: red">Stop</span></li>
            {{end}}

            {{if .Status.TwitterStatus}}
            <li>Twitter: <span style="color: blue">Started</span></li>
            {{else}}
            <li>Twitter: <span style="color: red">Stop</span></li>
            {{end}}

            {{if .Status.MonitorConfigStatus}}
            <li>Monitor Config: <span style="color: blue">Started</span></li>
            {{else}}
            <li>Monitor Config: <span style="color: red">Stop</span></li>
            {{end}}

            {{if .Status.HttpStatus}}
            <li>HTTP: <span style="color: blue">Started</span></li>
            {{else}}
            <li>HTTP: <span style="color: red">Stop</span></li>
            {{end}}
        </ul>
    </div>
</body>
</html>
