{{{define "config"}}}
<!DOCTYPE html>
<html lang="en">
{{{template "header" .}}}
<body>
    <script src="/assets/js/config_before.js"></script>

    <div class="container">
        {{{template "navbar" .}}}

        <form id="overwrite" action="/config/" method="post" enctype="multipart/form-data"></form>

        <div class="jumbotron">
            <h1>Configuration</h1>
            <h2 class="lead">Configure your own bot's sources, filters and actions</h2>
        </div>

        {{{if .Message}}}
        <div id="error-message" class="alert alert-danger">{{{.Message}}}</div>
        {{{end}}}

        <h3>Twitter Timelines</h3>
        {{{template "twitter_user_search" (newMap "Keyword" "timeline" "Title" "Timeline" "OpenFunc" "openTimeline" "Typeahead" true "Placeholder" "Type account name here") }}}
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Details</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {{{range $index, $timeline := .Config.Twitter.Timelines}}}
                    <tr>
                        <input form="overwrite" type="hidden" name="twitter.timelines.deleted" value="false"/>
                        <td>
                            <input form="overwrite" type="text" name="twitter.timelines.name" value="{{{$timeline.Name}}}"/>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#twitter-timelines-filter-{{{$index}}}">
                                Click here
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" onclick="deleteRow(this)">Delete</button>
                        </td>
                    </tr>
                    {{{end}}}
                    <tr>
                        <td>
                            <form action="/config/timelines/add" method="post">
                                <input type="submit" value="New" class="btn btn-primary"/>
                            </form>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        {{{range $index, $timeline := .Config.Twitter.Timelines}}}
            {{{template "modal" (newMap "Type" "twitter" "ConfigItem" $timeline "Index" $index "ItemLen" (len $.Config.Twitter.Timelines) "Prefix" "twitter.timelines")}}}
        {{{end}}}

        <h3>Twitter Favorites</h3>
        {{{template "twitter_user_search" (newMap "Keyword" "favorites" "Title" "Favorites" "OpenFunc" "openFavorites" "Typeahead" true "Placeholder" "Type account name here") }}}
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Details</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {{{range $index, $favorite := .Config.Twitter.Favorites}}}
                    <tr>
                        <input form="overwrite" type="hidden" name="twitter.favorites.deleted" value="false"/>
                        <td>
                            <input form="overwrite" type="text" name="twitter.favorites.name" value="{{{$favorite.Name}}}"/>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#twitter-favorites-filter-{{{$index}}}">
                                Click here
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" onclick="deleteRow(this)">Delete</button>
                        </td>
                    </tr>
                    {{{end}}}
                    <tr>
                        <td>
                            <form action="/config/favorites/add" method="post">
                                <input type="submit" value="New" class="btn btn-primary"/>
                            </form>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        {{{range $index, $favorite := .Config.Twitter.Favorites}}}
            {{{template "modal" (newMap "Type" "twitter" "ConfigItem" $favorite "Index" $index "ItemLen" (len $.Config.Twitter.Favorites) "Prefix" "twitter.favorites")}}}
        {{{end}}}

        <h3>Twitter Searches</h3>
        {{{template "twitter_user_search" (newMap "Keyword" "search" "Title" "Search" "OpenFunc" "openSearch" "Typeahead" false "Placeholder" "Type query here") }}}
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Details</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {{{range $index, $search := .Config.Twitter.Searches}}}
                    <tr>
                        <input form="overwrite" type="hidden" name="twitter.searches.deleted" value="false"/>
                        <td>
                            <input form="overwrite" type="text" name="twitter.searches.name" value="{{{$search.Name}}}"/>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#twitter-searches-filter-{{{$index}}}">
                                Click here
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" onclick="deleteRow(this)">Delete</button>
                        </td>
                    </tr>
                    {{{end}}}
                    <tr>
                        <td>
                            <form action="/config/searches/add" method="post">
                                <input type="submit" value="New" class="btn btn-primary"/>
                            </form>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        {{{range $index, $search := .Config.Twitter.Searches}}}
            {{{template "modal" (newMap "Type" "twitter" "ConfigItem" $search "Index" $index "ItemLen" (len $.Config.Twitter.Searches) "Prefix" "twitter.searches")}}}
        {{{end}}}

        <h3>Twitter General Settings</h3>
        {{{template "twitter_conf" .Config.Twitter}}}

        <h3>Slack Messages</h3>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Details</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {{{range $index, $msg := .Config.Slack.Messages}}}
                    <tr>
                        <input form="overwrite" type="hidden" name="slack.messages.deleted" value="false"/>
                        <td>
                            <input form="overwrite" type="text" name="slack.messages.name" value="{{{$msg.Name}}}"/>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#slack-messages-filter-{{{$index}}}">
                                Click here
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" onclick="deleteRow(this)">Delete</button>
                        </td>
                    </tr>
                    {{{end}}}
                    <tr>
                        <td>
                            <form action="/config/messages/add" method="post">
                                <input type="submit" value="New" class="btn btn-primary" id="message-new-button"/>
                            </form>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        {{{range $index, $msg := .Config.Slack.Messages}}}
            {{{template "modal" (newMap "Type" "slack" "ConfigItem" $msg "Index" $index "ItemLen" (len $.Config.Slack.Messages) "Prefix" "slack.messages")}}}
        {{{end}}}

        <input form="overwrite" type="submit" value="Update configuration" class="btn btn-success">

        <hr>

        <form id="config-file-upload-form" action="/config/file/" method="post" enctype="multipart/form-data"></form>
        <form action="/config/file/" method="get">
            <input type="submit" value="Export as a .json file" class="btn btn-sm btn-default" style="margin-bottom:10px">
        </form>
        <input form="config-file-upload-form" type="submit" value="Import your configuration file" class="btn btn-sm btn-default" onsubmit="onsubmitImport()">
        <input form="config-file-upload-form" id="config-file-upload-file-input" type="file" name="mybot.config" style="display:inline;margin-bottom:100px">

    </div>
    <script src="/assets/js/config_after.js"></script>
</body>
</html>
{{{end}}}
