{{define "config"}}
<!DOCTYPE html>
<html lang="en">
{{template "header" .}}
<body>
    <script>
        function deleteRow(button, modal) {
            var tr = button.parentNode.parentNode;
            if (tr.className === 'deleted') {
                for (var i = 0; i < tr.childNodes.length; i++) {
                    var child = tr.childNodes[i]
                    if (child.type === 'hidden' && child.nodeName === 'INPUT') {
                        child.value = 'false';
                        tr.className = '';
                        button.innerHTML = 'Delete';
                    }
                }
            } else {
                for (var i = 0; i < tr.childNodes.length; i++) {
                    var child = tr.childNodes[i]
                    if (child.type === 'hidden' && child.nodeName === 'INPUT') {
                        child.value = 'true';
                        tr.className = 'deleted';
                        button.innerHTML = 'Revert';
                    }
                }
            }
        }
    </script>
    <div class="container">
        {{template "navbar" .}}

        <div class="jumbotron">
            <h1>Configuration</h1>
            <h2 class="lead">Configure your own bot's sources, filters and actions</h2>
            <form id="overwrite" action="/config/" method="post" enctype="multipart/form-data"></form>
            <input form="overwrite" type="submit" value="Save" class="btn btn-lg btn-primary" style="display:inline">

            <form action="/config/file/" method="get" style="display:inline">
                <input type="submit" value="Download" class="btn btn-lg btn-primary">
            </form>

            <form action="/config/file/" method="post" enctype="multipart/form-data" style="display:inline">
                <input type="submit" value="Upload" class="btn btn-lg btn-primary">
                <input type="file" name="mybot.config" style="display:inline">
            </form>
        </div>

        {{if .Message}}
        <div class="alert alert-danger">{{.Message}}</div>
        {{end}}


        <h3>Twitter Timelines</h3>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>screen names</td>
                        <td>exclude replies</td>
                        <td>include rts</td>
                        <td>count</td>
                        <td>others</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {{range $index, $timeline := .Config.Twitter.Timelines}}
                    <tr>
                        <input form="overwrite" type="hidden" name="twitter.timelines.deleted" value="false"/>
                        <td>
                            {{listTextbox $timeline.ScreenNames "twitter.timelines.screen_names"}}
                        </td>
                        <td>
                            {{boolSelectbox $timeline.ExcludeReplies "twitter.timelines.exclude_replies"}}
                        </td>
                        <td>
                            {{boolSelectbox $timeline.IncludeRts "twitter.timelines.include_rts"}}
                        </td>
                        <td>
                            {{textboxOfIntPtr $timeline.Count "twitter.timelines.count"}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#twitter-timelines-filter_{{$index}}">
                                details here
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" onclick="deleteRow(this, 'twitter-timelines-filter_{{$index}}')">Delete</button>
                        </td>
                    </tr>
                    {{end}}
                    <tr>
                        <td>
                            <form action="/config/timelines/add" method="post">
                                <input type="submit" value="New" class="btn btn-primary"/>
                            </form>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        {{range $index, $timeline := .Config.Twitter.Timelines}}
            <div class="modal fade" id="twitter-timelines-filter_{{$index}}" tabindex="-1" role="dialog" aria-labelledby="twitter-timelines-filter_{{$index}}-title">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title" id="twitter-timelines-filter_{{$index}}-title">Details</h3>
                        </div>
                        <div class="modal-body">
                            <h3>Filter</h3>
                            {{template "filter_config" (newMap "Type" "twitter" "Filter" $timeline.Filter "Prefix" "twitter.timelines")}}
                            <h3>Action</h3>
                            {{template "action_config" (newMap "Type" "twitter" "Action" $timeline.Action "Prefix" "twitter.timelines")}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {{end}}

        <h3>Twitter Favorites</h3>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>screen names</td>
                        <td>count</td>
                        <td>others</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {{range $index, $favorite := .Config.Twitter.Favorites}}
                    <tr>
                        <input form="overwrite" type="hidden" name="twitter.favorites.deleted" value="false"/>
                        <td>
                            {{listTextbox $favorite.ScreenNames "twitter.favorites.screen_names"}}
                        </td>
                        <td>
                            {{textboxOfIntPtr $favorite.Count "twitter.favorites.count"}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#twitter-favorites-filter_{{$index}}">
                                details here
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" onclick="deleteRow(this, 'twitter-favorites-filter_{{$index}}')">Delete</button>
                        </td>
                    </tr>
                    {{end}}
                    <tr>
                        <td>
                            <form action="/config/favorites/add" method="post">
                                <input type="submit" value="New" class="btn btn-primary"/>
                            </form>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        {{range $index, $favorite := .Config.Twitter.Favorites}}
            <div class="modal fade" id="twitter-favorites-filter_{{$index}}" tabindex="-1" role="dialog" aria-labelledby="twitter-favorites-filter_{{$index}}-title">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title" id="twitter-favorites-filter_{{$index}}-title">Details</h3>
                        </div>
                        <div class="modal-body">
                            <h3>Filter</h3>
                            {{template "filter_config" (newMap "Type" "twitter" "Filter" $favorite.Filter "Prefix" "twitter.favorites")}}
                            <h3>Action</h3>
                            {{template "action_config" (newMap "Type" "twitter" "Action" $favorite.Action "Prefix" "twitter.favorites")}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {{end}}

        <h3>Twitter Searches</h3>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>queries</td>
                        <td>result type</td>
                        <td>count</td>
                        <td>others</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {{range $index, $search := .Config.Twitter.Searches}}
                    <tr>
                        <input form="overwrite" type="hidden" name="twitter.searches.deleted" value="false"/>
                        <td>
                            {{listTextbox $search.Queries "twitter.searches.queries"}}
                        </td>
                        <td>
                            {{selectbox $search.ResultType "twitter.searches.result_type" "" "recent" "mixed" "popular"}}
                        </td>
                        <td>
                            {{textboxOfIntPtr $search.Count "twitter.searches.count"}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#twitter-searches-filter_{{$index}}">
                                details here
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" onclick="deleteRow(this, 'twitter-searches-filter_{{$index}}')">Delete</button>
                        </td>
                    </tr>
                    {{end}}
                    <tr>
                        <td>
                            <form action="/config/searches/add" method="post">
                                <input type="submit" value="New" class="btn btn-primary"/>
                            </form>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        {{range $index, $search := .Config.Twitter.Searches}}
            <div class="modal fade" id="twitter-searches-filter_{{$index}}" tabindex="-1" role="dialog" aria-labelledby="twitter-searches-filter_{{$index}}-title">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title" id="twitter-searches-filter_{{$index}}-title">Details</h3>
                        </div>
                        <div class="modal-body">
                            <h3>Filter</h3>
                            {{template "filter_config" (newMap "Type" "twitter" "Filter" $search.Filter "Prefix" "twitter.searches")}}
                            <h3>Action</h3>
                            {{template "action_config" (newMap "Type" "twitter" "Action" $search.Action "Prefix" "twitter.searches")}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {{end}}

        <h3>API for Twitter</h3>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>source url</td>
                        <td>message template</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {{range $index, $api := .Config.Twitter.APIs}}
                    <tr>
                        <input form="overwrite" type="hidden" name="twitter.apis.deleted" value="false"/>
                        <td>
                            <input form="overwrite" type="text" name="twitter.apis.source_url" value="{{$api.SourceURL}}">
                        </td>
                        <td>
                            <textarea form="overwrite" name="twitter.apis.message_template" cols="30" rows="5">{{$api.MessageTemplate}}</textarea>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" onclick="deleteRow(this, 'twitter-apis-filter_{{$index}}')">Delete</button>
                        </td>
                    </tr>
                    {{end}}
                    <tr>
                        <td>
                            <form action="/config/apis/add" method="post">
                                <input type="submit" value="New" class="btn btn-primary"/>
                            </form>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h3>Twitter Place Notification</h3>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>allow self</td>
                        <td>users</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{checkbox .Config.Twitter.Notification.Place.AllowSelf "twitter.notification.place.allow_self"}}
                        </td>
                        <td>
                            {{listTextbox .Config.Twitter.Notification.Place.Users "twitter.notification.place.users"}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h3>Twitter Interaction</h3>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>allow self</td>
                        <td>users</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{checkbox .Config.Twitter.Interaction.AllowSelf "twitter.interaction.allow_self"}}
                        </td>
                        <td>
                            {{listTextbox .Config.Twitter.Interaction.Users "twitter.interaction.users"}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <input form="overwrite" type="hidden" name="twitter.duration" value="{{.Config.Twitter.Duration}}">

        <h3>Slack Messages</h3>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>channels</td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {{range $index, $msg := .Config.Slack.Messages}}
                    <tr>
                        <input form="overwrite" type="hidden" name="slack.messages.deleted" value="false"/>
                        <td>
                            {{listTextbox $msg.Channels "slack.messages.channels"}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#slack-messages-filter_{{$index}}">
                                details here
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" onclick="deleteRow(this, 'slack-messages-filter_{{$index}}')">Delete</button>
                        </td>
                    </tr>
                    {{end}}
                    <tr>
                        <td>
                            <form action="/config/messages/add" method="post">
                                <input type="submit" value="New" class="btn btn-primary" id="message-new-button"/>
                            </form>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        {{range $index, $msg := .Config.Slack.Messages}}
            <div class="modal fade" id="slack-messages-filter_{{$index}}" tabindex="-1" role="dialog" aria-labelledby="slack-messages-filter_{{$index}}-title">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title" id="slack-messages-filter_{{$index}}-title">Details</h3>
                        </div>
                        <div class="modal-body">
                            <h3>Filter</h3>
                            {{template "filter_config" (newMap "Type" "slack" "Filter" $msg.Filter "Prefix" "slack.messages")}}
                            <h3>Action</h3>
                            {{template "action_config" (newMap "Type" "slack" "Action" $msg.Action "Prefix" "slack.messages")}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {{end}}

        <h3>Incoming Webhooks</h3>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>endpoint</td>
                        <td>message template</td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {{range $index, $in := .Config.Webhook.Incomings}}
                    <tr>
                        <input form="overwrite" type="hidden" name="webhook.incomings.deleted" value="false"/>
                        <td>
                            <input form="overwrite" type="text" name="webhook.incomings.endpoint" value="{{$in.Endpoint}}">
                        </td>
                        <td>
                            <textarea form="overwrite" name="webhook.incomings.message_template" cols="30" rows="5">{{$in.MessageTemplate}}</textarea>
                        </td>
                        <td>
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#webhook-incomings-filter_{{$index}}">
                                details here
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" onclick="deleteRow(this, 'webhook-incomings-filter_{{$index}}')">Delete</button>
                        </td>
                    </tr>
                    {{end}}
                    <tr>
                        <td>
                            <form action="/config/incomings/add" method="post">
                                <input type="submit" value="New" class="btn btn-primary" id="incoming-new-button"/>
                            </form>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        {{range $index, $in := .Config.Webhook.Incomings}}
            <div class="modal fade" id="webhook-incomings-filter_{{$index}}" tabindex="-1" role="dialog" aria-labelledby="webhook-incomings-filter_{{$index}}-title">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title" id="webhook-incomings-filter_{{$index}}-title">Details</h3>
                        </div>
                        <div class="modal-body">
                            <h3>Action</h3>
                            {{template "action_config" (newMap "Type" "webhook" "Action" $in.Action "Prefix" "webhook.incomings")}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {{end}}

    </div>
</body>
</html>
{{end}}
