{{{define "config_data_row"}}}
    <li>
        <div class="input-group">
            <input form="overwrite" class="form-control config-row-name" type="text" name="{{{.Prefix}}}.name" value="{{{.Name}}}" style=""/>
            <input form="overwrite" type="hidden" name="{{{.Prefix}}}.deleted" value="false"/>
            <div class="input-group-addon"><a class="fa fa-lg fa-edit config-row-edit" data-toggle="modal" href="#{{{replace .Prefix "." "-"}}}-filter-{{{.Index}}}"></a></div>
            <div class="input-group-addon"><a class="fa fa-lg fa-trash config-row-delete" onclick="deleteRow(this)"></a></div>
        </div>
    </li>
{{{end}}}

{{{define "config_new_data_row"}}}
    <small>
        <form action="{{{.Action}}}" method="post" class="pull-right">
            <button type="submit" class="btn fa fa-plus config-row-new"></button>
        </form>
    </small>
{{{end}}}

{{{define "config"}}}
<!DOCTYPE html>
<html lang="en">
{{{template "header" .}}}
    <body>
        <script src="/assets/js/config_before.js"></script>

        <div class="container">
            {{{template "navbar" .}}}

            <form id="overwrite" action="/config/" method="post" enctype="multipart/form-data"></form>

            <div class="jumbotron">
                <h1>Configuration</h1>
                <h2 class="lead">Customize your own bot as you need</h2>
            </div>

            {{{if .Message}}}
            <div id="error-message" class="alert alert-danger">{{{.Message}}}</div>
            {{{end}}}

            <h3 class="page-header">
                Twitter Timelines
                {{{template "config_new_data_row" (newMap "Action" "/config/timelines/add")}}}
            </h3>
            <ul class="list-unstyled">
                {{{range $index, $timeline := .Config.Twitter.Timelines}}}
                    {{{template "config_data_row" (newMap "Prefix" "twitter.timelines" "Name" $timeline.Name "Index" $index)}}}
                {{{end}}}
            </ul>
            {{{range $index, $timeline := .Config.Twitter.Timelines}}}
                {{{template "modal" (newMap "Type" "twitter" "ConfigItem" $timeline "Index" $index "ItemLen" (len $.Config.Twitter.Timelines) "Prefix" "twitter.timelines" "Name" $timeline.Name)}}}
            {{{end}}}

            <h3 class="page-header">
                Twitter Favorites
                {{{template "config_new_data_row" (newMap "Action" "/config/favorites/add")}}}
            </h3>
            <ul class="list-unstyled">
                {{{range $index, $favorite := .Config.Twitter.Favorites}}}
                    {{{template "config_data_row" (newMap "Prefix" "twitter.favorites" "Name" $favorite.Name "Index" $index)}}}
                {{{end}}}
            </ul>
            {{{range $index, $favorite := .Config.Twitter.Favorites}}}
                {{{template "modal" (newMap "Type" "twitter" "ConfigItem" $favorite "Index" $index "ItemLen" (len $.Config.Twitter.Favorites) "Prefix" "twitter.favorites" "Name" $favorite.Name)}}}
            {{{end}}}

            <h3 class="page-header">
                Twitter Searches
                {{{template "config_new_data_row" (newMap "Action" "/config/searches/add")}}}
            </h3>
            <ul class="list-unstyled">
                {{{range $index, $search := .Config.Twitter.Searches}}}
                    {{{template "config_data_row" (newMap "Prefix" "twitter.searches" "Name" $search.Name "Index" $index)}}}
                {{{end}}}
            </ul>
            {{{range $index, $search := .Config.Twitter.Searches}}}
                {{{template "modal" (newMap "Type" "twitter" "ConfigItem" $search "Index" $index "ItemLen" (len $.Config.Twitter.Searches) "Prefix" "twitter.searches" "Name" $search.Name)}}}
            {{{end}}}

            <h3 class="page-header">
                Slack Messages
                {{{template "config_new_data_row" (newMap "Action" "/config/messages/add")}}}
            </h3>
            <ul class="list-unstyled">
                {{{range $index, $msg := .Config.Slack.Messages}}}
                    {{{template "config_data_row" (newMap "Prefix" "slack.messages" "Name" $msg.Name "Index" $index)}}}
                {{{end}}}
            </ul>
            {{{range $index, $msg := .Config.Slack.Messages}}}
                {{{template "modal" (newMap "Type" "slack" "ConfigItem" $msg "Index" $index "ItemLen" (len $.Config.Slack.Messages) "Prefix" "slack.messages" "Name" $msg.Name)}}}
            {{{end}}}

            <h3 class="page-header">General</h3>
            {{{template "twitter_conf" .Config.Twitter}}}

            <input form="overwrite" type="submit" value="Update configuration" class="btn btn-success">
            <hr>

            <form id="config-file-upload-form" action="/config/file/" method="post" enctype="multipart/form-data"></form>
            <form action="/config/file/" method="get">
                <input type="submit" value="Export as a .json file" class="btn btn-sm btn-default" style="margin-bottom:10px">
            </form>
            <input form="config-file-upload-form" type="submit" value="Import your configuration file" class="btn btn-sm btn-default">
            <input form="config-file-upload-form" id="config-file-upload-file-input" type="file" name="mybot.config" style="display:inline;margin-bottom:100px">

        </div>
        <script src="/assets/js/config_after.js"></script>
    </body>
</html>
{{{end}}}
