<!DOCTYPE html>
<html lang="en">
{{template "header" .}}
<body>
    <div class="container">
        {{template "navbar" .}}
        <h2>Error Log</h2>
        <pre>{{.Log}}</pre>
    </div>
</body>
</html>
