{{define "navbar"}}
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarMenus" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Mybot</a>
        </div>
        <div class="navbar-collapse collapse" id="navbarMenus">
            <ul class="nav navbar-nav">
                {{if eq .NavbarName "Config"}}
                <li class="nav-item active">
                {{else}}
                <li class="nav-item">
                {{end}}
                    <a class="nav-link" href="/config/">Config</a>
                </li>

                {{if eq .NavbarName "Log"}}
                <li class="nav-item active">
                {{else}}
                <li class="nav-item">
                {{end}}
                    <a class="nav-link" href="/log/">Log</a>
                </li>

                {{if eq .NavbarName "Status"}}
                <li class="nav-item active">
                {{else}}
                <li class="nav-item">
                {{end}}
                    <a class="nav-link" href="/status/">Status</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{{end}}
