{{define "navbar"}}
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarMenus" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Mybot</a>
        </div>
        <div class="navbar-collapse collapse" id="navbarMenus">
            <ul class="nav navbar-nav">
                <li class="nav-item{{if eq .NavbarName `Config`}}active{{end}}">
                    <a class="nav-link" href="/config/">Config</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {{if .TwitterName}}
                <li class="nav-item">
                    <a href="https://twitter.com/{{.TwitterName}}" class="btn btn-lg btn-social-icon btn-twitter">
                        <span class="fa fa-lg fa-twitter fa-active"></span> @{{.TwitterName}}
                    </a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a href="https://apps.twitter.com" class="btn btn-lg btn-social-icon btn-twitter">
                        <span class="fa fa-lg fa-twitter fa-passive"></span>
                    </a>
                </li>
                {{end}}

                {{if .SlackTeam}}
                <li class="nav-item">
                    <a href="{{.SlackURL}}" class="btn btn-lg btn-social-icon btn-slack">
                        <span class="fa fa-lg fa-slack fa-active"></span> @{{.SlackTeam}}
                    </a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a href="/auth/slack" class="btn btn-lg btn-social-icon btn-slack">
                        <span class="fa fa-lg fa-slack fa-passive"></span>
                    </a>
                </li>
                {{end}}

                <li class="nav-item">
                    <a href="https://console.developers.google.com/apis/api/vision.googleapis.com/quotas" class="btn btn-lg btn-social-icon btn-google">
                        <span class="fa fa-lg fa-google fa-{{if .GoogleEnabled}}active{{else}}passive{{end}}"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://github.com/iwataka/mybot" class="btn btn-lg btn-social-icon btn-github">
                        <span class="fa fa-lg fa-github fa-active"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/logout/twitter" class="nav-link">
                        <span class="fa fa-lg fa-sign-out"></span> Logout
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>
{{end}}
