{{{define "setup"}}}
<!DOCTYPE html>
<html lang="en">
    {{{template "header" .}}}
    <body>
        <div class="container">
            {{{template "navbar" .}}}
            <div class="jumbotron">
                <h1>Setup</h1>
                <h2 class="lead">This is the first step to use Mybot</h2>
                <form id="setup" action="/setup/" method="post" enctype="multipart/form-data"></form>
            </div>

            {{{if .Message}}}
            <div class="alert alert-danger">{{{.Message}}}</div>
            {{{end}}}

            <div class="alert alert-warning">
                Click <a href="https://apps.twitter.com" target="_blank">here</a> to create/check your own Twitter App
            </div>
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Twitter Consumer Key</td>
                            <td>
                                <input class="form-control" form="setup" type="password" name="setup.twitter_consumer_key" value="{{{.TwitterConsumerKey}}}">
                            </td>
                        </tr>
                        <tr>
                            <td>Twitter Consumer Secret</td>
                            <td>
                                <input class="form-control" form="setup" type="password" name="setup.twitter_consumer_secret" value="{{{.TwitterConsumerSecret}}}">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="alert alert-warning">
                Click <a href="https://api.slack.com/apps" target="_blank">here</a> to create/check your own Slack App
            </div>
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Slack Client ID</td>
                            <td>
                                <input class="form-control" form="setup" type="password" name="setup.slack_client_id" value="{{{.SlackClientID}}}">
                            </td>
                        </tr>
                        <tr>
                            <td>Slack Client Secret</td>
                            <td>
                                <input class="form-control" form="setup" type="password" name="setup.slack_client_secret" value="{{{.SlackClientSecret}}}">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <input form="setup" type="submit" value="Update setup information" class="btn btn-success form-control">

        </div>
    </body>
</html>
{{{end}}}
