{{define "status"}}
<!DOCTYPE html>
<html lang="en">
{{template "header" .}}
<body>
    <div class="container">
        {{template "navbar" .}}
        <div class="jumbotron">
            <h1>Process Status</h1>
            <h2 class="lead">Check process statuses and take measures if any problems</h2>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>Process</td>
                        <td>Status</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Twitter Direct Message Listener</td>
                        <td>
                            {{if .Status.TwitterListenMyselfStatus}}
                            <span style="color:blue">Active</span>
                            {{else}}
                            <span style="color:red">Stop</span>
                            {{end}}
                        </td>
                    </tr>
                    <tr>
                        <td>Twitter User Listener</td>
                        <td>
                            {{if .Status.TwitterListenUsersStatus}}
                            <span style="color:blue">Active</span>
                            {{else}}
                            <span style="color:red">Stop</span>
                            {{end}}
                        </td>
                    </tr>
                    <tr>
                        <td>Twitter Periodic Job</td>
                        <td>
                            {{if .Status.TwitterStatus}}
                            <span style="color:blue">Active</span>
                            {{else}}
                            <span style="color:red">Stop</span>
                            {{end}}
                        </td>
                    </tr>
                    <tr>
                        <td>Config File Monitoring</td>
                        <td>
                            {{if .Status.MonitorConfigStatus}}
                            <span style="color:blue">Active</span>
                            {{else}}
                            <span style="color:red">Stop</span>
                            {{end}}
                        </td>
                    </tr>
                    <tr>
                        <td>Twitter Credential Monitoring</td>
                        <td>
                            {{if .Status.MonitorTwitterCred}}
                            <span style="color:blue">Active</span>
                            {{else}}
                            <span style="color:red">Stop</span>
                            {{end}}
                        </td>
                    </tr>
                    <tr>
                        <td>Google Cloud Credential Monitoring</td>
                        <td>
                            {{if .Status.MonitorGCloudCred}}
                            <span style="color:blue">Active</span>
                            {{else}}
                            <span style="color:red">Stop</span>
                            {{end}}
                        </td>
                    </tr>
                    <tr>
                        <td>HTTP Listener</td>
                        <td>
                            {{if .Status.ServerStatus}}
                            <span style="color:blue">Active</span>
                            {{else}}
                            <span style="color:red">Stop</span>
                            {{end}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ul>

        </ul>
    </div>
</body>
</html>
{{end}}
