{{{define "twitter_user_search"}}}
<div {{{if .Typeahead}}}id="typeahead-{{{.Keyword}}}"{{{end}}} class="form-group input-group">
    <input type="text" class="{{{if .Typeahead}}}typeahead{{{end}}} form-control" placeholder="{{{.Placeholder}}}" id="twitter-search-{{{.Keyword}}}-value" onkeypress="if (event.keyCode === 13) document.getElementById('twitter-search-{{{.Keyword}}}-open').click()">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" data-toggle="modal" data-target="#twitter-search-{{{.Keyword}}}-modal" id="twitter-search-{{{.Keyword}}}-open" onclick="window[{{{.OpenFunc}}}]()">Open</button>
    </span>
</div>

<div class="modal fade" id="twitter-search-{{{.Keyword}}}-modal" tabindex="-1" role="dialog" aria-labelledby="twitter-search-{{{.Keyword}}}-modal-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" id="twitter-search-{{{.Keyword}}}-modal-title">{{{.Title}}}</h3>
            </div>
            <div class="modal-body" id="twitter-search-{{{.Keyword}}}-modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{{{end}}}
